.footer {
    background-color: $footer-bg-color;
    height:auto;
    color:white;
    padding:8px;
    
        h4 {
            font-family: "Shrikhand","Roboto","sans-serif";
            font-size:1.2rem;
            padding:16px 0 0 16px;
            margin: 0;
            
            
        }
            &__list {
                list-style-type: none;
                padding:8px 16px;
                display: flex;
                flex-direction: column;
                gap: 10px;
            
                .fa:before  {
                    padding-right:10px;
                }

            li {
                display:flex;
                flex-direction: row;
            }
            p {
                margin:0;
            }
            }
        a {
            text-decoration:none;
            color:inherit;
        }

}


@media (min-width:992px){
    .footer {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        padding-top:57px;
    
        &__list {
        list-style-type: none;
        padding: 8px 16px;
        display: flex;
        flex-direction:row;
        gap: 10px;
        }

        .footer__title h4 {
            padding-right: 57px;
            padding-left: 87px;
        }

        .mentions {
            padding-left:37px;
        }
    }

}
