@charset "UTF-8";
/* Color */
/*Typographie*/
/*Buttons Shadow*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.search__all, .page, .headermenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__btn button:hover, .menuall .order__btn__btn button:hover {
  background-color: pink;
  box-shadow: #D5d5d5 4px 5px 1px;
  background: linear-gradient(-30deg, #9356DC 1%, #FF79DA 100%);
  transform: scale(1.02);
}

/* Animation choix du menu */
/*Animation arrivée menu */
/*Animation coeur arrivée */
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  animation: fix 2s forwards;
}

.loader__one {
  border: 3px dashed rgba(0, 0, 0, 0.25);
  border-left: 8px solid;
  border-right: 8px solid;
  width: 10rem;
  height: 10rem;
  border-right-color: #FF79DA;
  border-left-color: #9356DC;
  border-radius: 50%;
  animation: loader 4s ease-in-out forwards;
  margin: auto;
  position: absolute;
}

@keyframes loader {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
  }
  25% {
    transform: rotate(120deg) scale(1);
    border-top-color: #FF79DA;
    border-bottom-color: #99E2D0;
  }
  50% {
    border-top-color: #99E2D0;
    border-bottom-color: #9356DC;
  }
  100% {
    transform: rotate(360deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    visibility: hidden;
    opacity: 0;
    animation-fill-mode: forwards;
  }
}
@keyframes fix {
  0% {
    transform: initial;
    background-color: rgba(255, 255, 255, 0.9);
  }
  100% {
    transform: initial;
    visibility: hidden;
    opacity: 0;
    animation-fill-mode: forwards;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
body {
  margin: 0;
  box-sizing: border-box;
  width: auto;
}

h1, h2, h3, p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h3 {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}

p {
  font-weight: 300;
  font-size: 15px;
}

a {
  font-family: "Roboto", "sans-serif";
  color: inherit;
}

h4 {
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
  line-height: 1.5;
}

.headermenu img {
  height: 32px;
  padding: 16px;
}

.cover_image {
  width: 100%;
}

.fa-arrow-left {
  position: absolute;
  top: 24px;
  left: 41px;
  font-size: 1.2rem;
}

.menuall {
  background-color: #f6f6f6;
  margin-top: -61px;
  border-radius: 5% 5% 0% 0%;
  z-index: 1;
  position: relative;
}
.menuall h1 {
  font-family: "Shrikhand", "sans-serif";
}
.menuall h1, .menuall h3 {
  padding-left: 15px;
}
@media (min-width: 992px) {
  .menuall {
    display: flex;
    flex-direction: column;
    margin: 0 191px 0 191px;
  }
}
@media (min-width: 992px) {
  .menuall__title {
    display: flex;
    justify-content: center;
  }
}
.menuall__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menuall .fa-heart {
  animation: fadein 0.4s ease-in-out;
  margin-right: 24px;
  margin-top: 25px;
  font-size: 1.5rem;
  background: rgb(255, 255, 255);
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, #9356DC 25%, #FF79DA 100%);
  background-position-y: 0%;
  background-size: 100% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  transition: all 0.2s ease-in-out;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menuall .fa-heart:hover {
  font-weight: 900;
  background-position-y: 100%;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0);
}
.menuall h3::after {
  content: "";
  flex: 1;
  margin-left: 2px;
  margin-top: 6px;
  padding-top: 2px;
  height: 1px;
  background-color: #99E2D0;
  display: flex;
  width: 5%;
}
.menuall .menuall__bloc {
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  overflow: hidden;
  animation: fade 2s ease-in-out;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.menuall .menuall__btn {
  background-color: white;
  border-radius: 25px;
  margin-bottom: 12px;
  flex-grow: 1;
  box-shadow: 3px 5px 5px #D5d5d5;
  flex-wrap: nowrap;
  width: 100%;
  height: 69px;
}
.menuall .menuall__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}
.menuall .menuall__content:hover > .menuall__arrow {
  visibility: visible;
}
.menuall .menuall__content:hover .menuall__txt {
  width: calc(100% - 100px);
}
.menuall .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.menuall .fa-check {
  color: #99E2D0;
  display: flex;
  align-items: center;
}
.menuall .menuall__txt {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 14px 0;
  overflow: hidden;
}
.menuall .menuall__txt h4, .menuall .menuall__txt p {
  margin: 0 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuall .menuall__content:hover .menuall__arrow {
  width: 59px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: checkbox-active 1s ease-in-out;
  animation-name: checkbox;
  animation-duration: 0.8s;
}
@keyframes checkbox {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}
.menuall .menuall__content i {
  transition: all 0.6s ease-in-out;
}
.menuall .menuall__content:hover i {
  transition: all 0.7s ease-in-out;
  transform: rotate(360deg);
}
.menuall .menuall__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  visibility: hidden;
  flex-shrink: 0;
  width: 0;
  height: 69px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.menuall .menuall__price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 12px;
  font-weight: bold;
  font-family: "Roboto", "sans-serif";
}
.menuall .menuall__content:hover .menuall__price {
  transition: checkbox-active 1s ease-in-out;
  animation-name: checkbox;
  animation-duration: 0.8s;
}
@keyframes checkbox {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}
.menuall .menuall__price p {
  margin: 0;
}
.menuall .order__btn {
  display: flex;
  text-align: center;
  background-color: #f6f6f6;
  justify-content: space-evenly;
}
.menuall .order__btn button {
  width: 186px;
  margin-bottom: 40px;
}
.menuall .order__btn__btn button {
  color: #FFF;
  background: #9356DC;
  box-shadow: #D5d5d5 3px 5px 5px;
  border-radius: 30px;
  height: 50px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 32px;
  background: linear-gradient(-30deg, #9356DC 2%, #FF79DA 100%);
}
.menuall .order__btn__btn button:hover {
  box-shadow: #D5d5d5 3px 10px 5px;
  transition-duration: 0.25s;
  background: linear-gradient(-30deg, #9356DC 1%, #FF79DA 80%);
  transition-duration: 0.25s;
}

@media (min-width: 992px) {
  .cover_image {
    height: 343px;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .menuall {
    display: flex;
    flex-direction: column;
    margin: 0 191px 0 191px;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    position: relative;
    margin-top: -40px;
  }
  .menuall .fa-heart {
    margin-right: 24px;
    margin-top: 24px;
    font-size: 1.5rem;
    z-index: 100;
    background-clip: text;
    opacity: 1;
    cursor: pointer;
    padding-left: 23px;
  }
}
@media (min-width: 992px) {
  .menuall .starter, .menuall .dish, .menuall .dessert {
    width: 70%;
  }
}

.page img {
  height: 32px;
  padding: 16px;
}

.search__all {
  background-color: #eaeaea;
  padding: 16px 1px 16px 16px;
  box-shadow: inset 0px 3px 5px 0px #c5c5c5;
}
.search__all i {
  padding-right: 1px;
  padding-left: 4rem;
  margin: 0;
}
.search__all input {
  border: none;
  background-color: #eaeaea;
  padding: 0 0 0 1rem;
}
.search__all p {
  font-size: 16px;
}

.order {
  text-align: center;
  background-color: #f6f6f6;
  padding: 16px 48px 15px 49px;
}
.order__btn button {
  color: #FFF;
  background: #9356DC;
  box-shadow: #D5d5d5 3px 5px 5px;
  border-radius: 30px;
  height: 50px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 32px;
  background: linear-gradient(-30deg, #9356DC 2%, #FF79DA 100%);
}
.order__btn button:hover {
  box-shadow: #D5d5d5 3px 10px 5px;
  transition-duration: 0.25s;
  background: linear-gradient(-30deg, #9356DC 1%, #FF79DA 80%);
  transition-duration: 0.25s;
}

@media (max-width: 992px) {
  .function {
    display: flex;
    flex-direction: column;
  }
}
.function h2 {
  margin: 50px 20px 10px;
}
.function__list {
  align-items: center;
  margin: 0;
  padding: 16px;
}
.function__btn {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 25px;
  margin-bottom: 25px;
  padding: 24px 0;
  flex-grow: 1;
  box-shadow: 3px 5px 5px #D5d5d5;
}
.function__btn:hover {
  box-shadow: #D5d5d5 3px 10px 5px;
  transition-duration: 0.25s;
  background-color: #fbfafa;
}
.function__btn i {
  color: grey;
  padding: 0 16px;
}

.function__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
  margin-left: -14px;
  background-color: #9356DC;
  color: #FFF;
}

@media (min-width: 992px) {
  .function__list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 32px 0 32px 0;
  }
}

@media (min-width: 992px) {
  .function {
    margin: 0 171px 0 171px;
  }
  .function h2 {
    margin: 50px 0px 10px;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: 0 0 63px 0;
  margin-top: 63px;
}
@media (max-width: 992px) {
  .restaurants {
    display: flex;
    flex-direction: column;
  }
  .restaurants h2 {
    margin: 50px 20px 10px;
  }
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 16px;
}
.restaurants__card {
  box-shadow: #D5d5d5 3px 10px 5px;
  transition-duration: 0.25s;
  border-radius: 20px;
  height: 252px;
  list-style-type: none;
  position: relative;
}
.restaurants__badge {
  position: absolute;
  background-color: #99E2D0;
  right: -6px;
  border-radius: 2px;
  width: 80px;
  height: 29px;
  margin: 25px 25px 0 0;
}
.restaurants__badge p {
  margin: 0;
  padding-top: 6px;
  font-size: 14px;
  text-align: center;
}
.restaurants__images {
  display: flex;
  flex-direction: column;
  height: 172px;
}
.restaurants__images > img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  height: 172px;
}
.restaurants__infoheart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 14px;
}
.restaurants__infoheart h3 {
  margin: 20px 0 0 0;
  text-transform: none;
  font-weight: 700;
}
.restaurants__infoheart p {
  margin: 4px 0 0 0;
}
.restaurants__infoheart__info {
  display: flex;
  flex-direction: column;
  height: 78px;
  padding-left: 14px;
}
.restaurants__infoheart .fa-heart {
  animation: fadein 0.4s ease-in-out;
  margin-right: 24px;
  margin-top: 25px;
  font-size: 1.5rem;
  background: rgb(255, 255, 255);
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, #9356DC 25%, #FF79DA 100%);
  background-position-y: 0%;
  background-size: 100% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  transition: all 0.2s ease-in-out;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.restaurants__infoheart .fa-heart:hover {
  font-weight: 900;
  background-position-y: 100%;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0);
}
@media (min-width: 992px) {
  .restaurants .restaurants {
    background-color: #f6f6f6;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .restaurants .restaurants__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 0 2px;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .restaurants .restaurants__titre {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    margin: 0 171px 0 171px;
  }
}
@media (min-width: 992px) {
  .restaurants .restaurants__card {
    width: 48%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.footer {
  background-color: #353535;
  height: auto;
  color: white;
  padding: 8px;
}
.footer .footer__title {
  font-family: "Shrikhand", "Roboto", "sans-serif";
  font-size: 1.2rem;
  padding: 16px 0 0 16px;
  margin: 0;
}
.footer__list {
  list-style-type: none;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__list .fa:before {
  padding-right: 10px;
}
.footer__list li {
  display: flex;
  flex-direction: row;
}
.footer__list p {
  margin: 0;
}
.footer a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 992px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding-top: 57px;
  }
  .footer__list {
    list-style-type: none;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .footer .footer__title {
    padding-right: 57px;
    padding-left: 87px;
  }
  .footer .mentions {
    padding-left: 37px;
  }
}

/*# sourceMappingURL=style.css.map */
