@mixin btn {
    color: #FFF;
    background: #9356DC;
    box-shadow: #D5d5d5 3px 5px 5px;
    border-radius: 30px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 16px 32px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 18.75px;
}

@mixin linear {
    background: linear-gradient(-30deg, #9356DC 2%, #FF79DA 100%);
}