
/* Color */

$main-color:#9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;
$background-color:#f6f6f6;
$light-background-color:lighten($background-color,10%);
$footer-bg-color:#353535;

/*Typographie*/
$h1-typo-size:20px;



/*Buttons Shadow*/
$color-shadow:#D5d5d5;
$btn-shadow:  3px 5px 5px;